//output:index.html
doctype html
html
  head
    title string methods
  body
    .heading 
      h2 String methods
    .q21
      input#q21(type="text" max-length="30" required/)
      button(onclick="q21()") Submit
      .answer#answer21
    .q22
      input#q22(type="text" max-length="30" required/)
      button(onclick="q22()") Submit
      .answer#answer22
    .q23
      input#q23(type="text" max-length="30" required/)
      button(onclick="q23()") Submit
      .answer#answer23
  script(src = "script/script.js")  
